@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

body{
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 5vh;
  background: linear-gradient(to bottom, rgb(186, 104, 45) 50%, rgb(20, 20, 20) 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 11vh;
  caret-color: transparent;
}

button{
  font-family: 'Roboto Mono', monospace;
}

h2{
  place-self: center;
}

h4{
  place-self: center;
}

.homeButton{
  position: absolute;
  width: 7vh;
  top: 3%;
  left: 5%;
  transform: translateX(-50%);
  user-select: none;
  cursor: pointer;
}

.container{
  color: white;
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(16, 16, 16);
  border: 1rem solid rgb(233, 141, 89);
  box-shadow: 2rem;
  border-radius: 20px;
  width: 80vh;
  height: 80vh;
  user-select: none;
}

.container button{
  place-self: center;
  color: rgb(16, 16, 16);
  background-color:rgb(176, 86, 21);
  font-size: 3vh;
  border-radius: 10px;
  width: 95%;
  border: none;
  cursor: pointer;
}


.question{
  place-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  width: 95%;
  font-size: 1.8rem;
  height: 30vh;
}

.options{
  place-self: center;
  text-align: left;
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  width: 95%;
  font-size: 1.8rem;
  height: 30vh;
  list-style: none;
}

.answer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.answer button:hover{
  background-color: rgb(255, 128, 0);
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

.homeButton:not(hover){
  transition: all 0.2s ease;
}

.homeButton:hover{
  width: 6vh;
  transition: all 0.2s ease;
}

.answer button:not(hover){
  transition: all 0.2s ease;
}

.container button:hover{
  background-color: rgb(255, 128, 0);
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

.container button:not(hover){
  transition: all 0.2s ease;
}



/* STYLING FOR RESULTS PAGE */

.results{
  height: 20vh;
}

.results p {
  margin-bottom: 30vh;
  font-size: 2.5rem;
}

.message p{
  height: 4vh;
  margin-bottom: 20vh;
  font-size: 2rem;
}

.container h1{
  font-size: 3.8rem;
}



/* SUPPORTS FOR SMALLER DEVICES */

@media (max-width: 480px) {
  body {
    font-size: 2vh;
  }
  .container {
    width: 350px;
    font-size: 1vh;
  }

  .question{
    width: 340px;
    height: 200px;
    font-size: 2vh;
  }

  .options{
    width: 340px;
    height: 200px;
    font-size: 2vh;
  }

  .answer{
    grid-template-columns: repeat(auto-fit,minmax(70px, 1fr));
    gap: 8px;
  }

  .answer button{
    width: 75px;
  }

  .homeButton{
    position: absolute;
    width: 5vh;
    top: 3%;
    left: 6%;
    transform: translateX(-50%);
    user-select: none;
    cursor: pointer;
  }
  /* FOR TRIVIA RESULTS PAGE */
  .results{
    height: 10vh;
  }

  .results p {
    margin-bottom: 30vh;
    font-size: 2.3vh;
  }

  .message p{
    margin-bottom: 20vh;
    font-size: 2vh;
  }

  .container h1{
    font-size: 3vh;
  }
}

@media (max-width: 350px) {
  body {
    font-size: 2vh;
  }
  .container {
    width: 250px;
    font-size: 1vh;
  }

  .question{
    width: 240px;
    height: 160px;
    font-size: 2vh;
  }

  .options{
    width: 240px;
    height: 160px;
    font-size: 2vh;
  }

  .answer{
    grid-template-columns: repeat(auto-fit,minmax(50px, 1fr));
    gap: 8px;
  }

  .answer button{
    width: 50px;
  }
}
